* {
    margin: 0;
    padding: 0;
}

header {
    min-height: 50px;
    background: linear-gradient(rgb(255, 178, 44), rgb(255, 145, 0));
    text-align: center;
    line-height: 50px;
}

.calculatorImage {
    height: 300px;
    width: auto;
}
.calculator {
    position: relative;
    height: 300px;
    width: 200px;
    background: linear-gradient(45deg, #212524, #2f312d);


}
.calculator::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    background: linear-gradient(135deg, #f6ac3a, #955822);
    z-index: -1;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px;
}

.app {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}

.gridButtons {
    display: grid;
    grid-template-columns: 40px 40px 40px 50px;
    grid-template-rows: 40px 40px 40px 40px;
    gap: 5px;
    justify-content: center;
    margin-top: 1vh;
}
.button {
    text-align: center;
    line-height: 40px;
    height: 2fr;
    width: 1fr;
    border: solid black 2px;
    border-radius: 5px;
    background: linear-gradient(135deg, #d08532, #bb691f);
}

.result {
    margin: 5%;
    height: 10vh;
    border-radius: 10px;
}
